@use '../../../../../styles/constants' as *;

.dialog-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $spacing-md $spacing-md $spacing-sm $spacing-lg;

  h2 {
    font-size: $font-size-xl;
    font-weight: 600;
    margin: 0;
    color: $color-text-primary;
  }

  ::ng-deep .mat-mdc-icon-button {
    background-color: transparent !important;

    .mat-mdc-button-persistent-ripple,
    .mdc-icon-button__ripple {
      background-color: transparent !important;
    }
  }
}

mat-dialog-content {
  min-width: 280px;
  padding-top: 0;
}

.dialog-actions {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.filter-fields {
  display: flex;
  flex-direction: column;
  gap: $spacing-sm;

  mat-form-field {
    width: 100%;
    display: block;
  }
}
