.live-view-container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

app-cesium-viewer {
  flex: 1 1 0;
  min-width: 0;
}

app-uav-selection-component {
  flex: 0 0 auto;
  z-index: 1;
}
