<div class="map-toolbar">
  <button
    mat-stroked-button
    type="button"
    cdkOverlayOrigin
    #origin="cdkOverlayOrigin"
    (click)="toggle()"
    aria-label="Map filters"
  >
    <mat-icon>filter_list</mat-icon>
    Filters
  </button>

  @if (showSeparateOverlapsToggle()) {
    <button mat-stroked-button type="button" (click)="onToggleSeparateOverlaps()">
      {{
        separateOverlapsEnabled()
          ? separateOverlapsOnLabel
          : separateOverlapsOffLabel
      }}
    </button>
  }

  @if (selectedMissionIds().length > 0 || selectedMissionTypes().length > 0 || selectedTailIds().length > 0) {
    <button mat-button type="button" (click)="onClear()">Clear</button>
  }
</div>

<ng-template
  cdkConnectedOverlay
  [cdkConnectedOverlayOrigin]="origin"
  [cdkConnectedOverlayOpen]="isOpen()"
  [cdkConnectedOverlayHasBackdrop]="true"
  (backdropClick)="close()"
>
  <div class="map-filter-panel" (click)="$event.stopPropagation()">
    <div class="map-filter-panel__header">
      <div class="map-filter-panel__title">Filters</div>
      <button mat-icon-button type="button" (click)="close()" aria-label="Close filters">
        <mat-icon>close</mat-icon>
      </button>
    </div>

    <mat-tab-group class="map-filter-tabs" animationDuration="0ms">
      <mat-tab label="Missions">
        <div class="map-filter-panel__section">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="map-filter-panel__search">
            <mat-label>Search missions</mat-label>
            <input matInput [formControl]="missionQueryControl" />
          </mat-form-field>

          <div class="map-filter-panel__list">
            @for (m of filteredMissionOptions(); track m.missionId) {
              <mat-checkbox
                [checked]="selectedMissionIdSet().has(m.missionId)"
                (change)="onToggleMission(m.missionId, $event.checked)"
              >
                {{ m.title }}
              </mat-checkbox>
            }
          </div>
        </div>
      </mat-tab>

      <mat-tab label="Mission type">
        <div class="map-filter-panel__section">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="map-filter-panel__search">
            <mat-label>Search mission types</mat-label>
            <input matInput [formControl]="missionTypeQueryControl" />
          </mat-form-field>

          <div class="map-filter-panel__list">
            @for (t of filteredMissionTypeOptions(); track t.uavType) {
              <mat-checkbox
                [checked]="selectedMissionTypeSet().has(t.uavType)"
                (change)="onToggleMissionType(t.uavType, $event.checked)"
              >
                {{ t.label }}
              </mat-checkbox>
            }
          </div>
        </div>
      </mat-tab>

      <mat-tab label="UAVs">
        <div class="map-filter-panel__section">
          <mat-form-field appearance="outline" subscriptSizing="dynamic" class="map-filter-panel__search">
            <mat-label>Search UAVs</mat-label>
            <input matInput [formControl]="uavQueryControl" placeholder="UAV-#" />
          </mat-form-field>

          <div class="map-filter-panel__list">
            @for (u of filteredUavOptions(); track u.tailId) {
              <mat-checkbox
                [checked]="selectedTailIdSet().has(u.tailId)"
                (change)="onToggleUav(u.tailId, $event.checked)"
              >
                UAV-{{ u.tailId }}
              </mat-checkbox>
            }
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
</ng-template>

