@use '../styles/constants' as *;

.app-container {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: $color-background-primary;
  overflow: hidden;
}

.main-content {
  flex: 1;
  margin-left: 64px;
  overflow-y: auto;
  transition: margin-left 300ms cubic-bezier(0.4, 0, 0.2, 1);
}
