<fieldset class="collapsible-section algorithm-panel">
  <legend (click)="togglePanel()" class="collapsible-legend">
    <mat-icon class="expand-icon">
      {{ isExpanded() ? 'expand_less' : 'expand_more' }}
    </mat-icon>
    {{ labels.title }}
  </legend>
  @if (isExpanded()) {
    <div class="algorithm-panel__content">
    <div class="algorithm-panel__steps">
    <div class="algorithm-panel__step">
      <div class="algorithm-panel__step-title">{{ labels.stepMissionNeeds }}</div>
      <div class="algorithm-panel__step-text">{{ missionNeedsSummary() }}</div>
    </div>

    <div class="algorithm-panel__step">
      <div class="algorithm-panel__step-title">{{ labels.stepCandidates }}</div>
      <div class="algorithm-panel__subsection-title">{{ labels.alternatives }}</div>
      @if (candidateSummaries().length > 0) {
        <ul class="algorithm-panel__list">
          @for (candidateSummary of candidateSummaries(); track candidateSummary) {
            <li>{{ candidateSummary }}</li>
          }
        </ul>
      } @else {
        <div class="algorithm-panel__step-text">{{ labels.alternativesEmpty }}</div>
      }

      <div class="algorithm-panel__subsection-title">{{ labels.blockedCandidates }}</div>
      @if (blockedCandidateSummaries().length > 0) {
        <ul class="algorithm-panel__blocked-list">
          @for (blockedCandidate of blockedCandidateSummaries(); track blockedCandidate) {
            <li>{{ blockedCandidate }}</li>
          }
        </ul>
      } @else {
        <div class="algorithm-panel__step-text">{{ labels.blockedCandidatesEmpty }}</div>
      }
    </div>

    <div class="algorithm-panel__step">
      <div class="algorithm-panel__step-title">{{ stepDecisionLabel() }}</div>
      <ul class="algorithm-panel__list">
        @for (decisionReason of decisionReasons(); track decisionReason) {
          <li>{{ decisionReason }}</li>
        }
      </ul>
    </div>

    <div class="algorithm-panel__step">
      <div class="algorithm-panel__step-title">{{ labels.stepSelectionChange }}</div>
      <div class="algorithm-panel__step-text">
        {{ selectedChangeSummary() }}
        @if (selectedWarnings().length > 0) {
          {{ labels.selectionReasonsSuffix }}
        }
      </div>
      @if (selectedWarnings().length > 0) {
        <ul class="algorithm-panel__warnings">
          @for (warning of selectedWarnings(); track warning) {
            <li>{{ warning }}</li>
          }
        </ul>
      }
    </div>
    </div>

    <div class="algorithm-panel__actions">
      <button mat-stroked-button type="button" (click)="onShowOnMap()">
        {{ labels.showOnMap }}
      </button>
    </div>

    <details class="algorithm-panel__details">
      <summary>{{ labels.technicalDetails }}</summary>

      <div class="algorithm-panel__top">
        <div class="algorithm-panel__score-chip">
          <span>{{ labels.suggested }}</span>
          <strong>{{ withPercent(suggestedRelativeScore()) }}</strong>
          <span class="algorithm-panel__tail">UAV-{{ suggestedTailId() }}</span>
        </div>
        <div class="algorithm-panel__score-chip">
          <span>{{ labels.selected }}</span>
          <strong>{{ withPercent(selectedRelativeScore()) }}</strong>
          <span class="algorithm-panel__tail">UAV-{{ selectedTailId() }}</span>
        </div>
        <div class="algorithm-panel__score-chip">
          <span>{{ labels.relativeScore }}</span>
          <strong>
            {{ withPercent(selectedRelativeScore()) }}
          </strong>
        </div>
      </div>

    </details>
    </div>
  }
</fieldset>
