@use '../../../../styles/constants' as *;

.home-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.smart-title {
  font-size: 120px;
  font-weight: 700;
  color: $color-primary;
  letter-spacing: 8px;
  margin: 0;
  text-transform: uppercase;
}
