@use '../../../styles/constants' as *;

.review-stage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  gap: $spacing-lg;
  padding: $spacing-lg;
}
